@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$cyan-palette,
        theme-type: color-scheme,
      ),
      typography: (
        plain-family: (
          system-ui,
          sans-serif,
        ),
        brand-family: (
          system-ui,
          sans-serif,
        ),
        bold-weight: 700,
        medium-weight: 600,
        regular-weight: 400,
      ),
      density: 0,
    )
  );
}
